.centeredImage
{
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
}

.bs-example
{
    margin: 20px;
}


blockquote{
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 40%;
  margin-left: 10px;
  background-color: #f0ad4e;
  background-color: #f0ad4e;
  border: 5px solid #ddd;
  border: 5px solid rgba(86,61,124,.2);
}

address{
	margin-left: 20px;
}

.img-responsive{

  height: 80%;
  width: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 40%;
  margin-left: 10px;
  border: 5px solid #ddd;
  border: 5px solid rgba(86,61,124,.2);

}

.contact-responsive{

  height: 50%;
  width: 80%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 40%;
  margin-left: 20px;
  border: 5px solid #ddd;
  border: 5px solid rgba(86,61,124,.2);

}

